
  <!-- -------------------------------------sec 3-------------------- -->

  <div class="sec3">
    <h1>All Your Work Needs Under One Roof</h1>
    <a href="tel:+918769258658">
      <div>
        <button class="btn btn-dark btn-lg">
          <img src="./images/call.jpg" alt="">
          Call Now!
        </button>
      </div>
   </a>
  
  </div>

  <!-- -------------------process------------------------------- -->

  <div class="container process">
    <div class="row">
      <h1>HOW IT WORKS</h1>
    </div>
    <div class="line">
      <div>
        <img src="./images/icons/requirement1.png" alt="">
        <h3> Need </h3>
      </div>
      <div class="arrow"></div>
      <div>
        <img src="./images/icons/cost.png" alt="">
        <h3> Estimation </h3>
      </div>
      <div class="arrow"></div>
      <div>
        <img src="./images/icons/schedule1.png" alt="">
        <h3> Updates</h3>
      </div>
      <div class="arrow"></div>
      <div>
        <img src="./images/icons/excute1.png" alt="">
        <h3> Execution</h3>
      </div>
      <div class="arrow"></div>
      <div>
        <img src="./images/icons/architecture1.png" alt="">
        <h3> Delivery </h3>
      </div>
    </div>
  </div>

  <!-- -------------------------- portfolio------------------------------- -->

  <div class="container portfolio" id="portfolio">
    <h1>RECENT PROJECTS</h1>
    <div class="message">
      Sorry, your browser does not support CSS Grid. 😅
    </div>
    <div class="grid">
      <div class="item">
        <div class="item__details">
          Interior Designing
         
        </div>
      </div>
      <div class="item item--large">
        <div class="item__details">
          Newline Flats
        </div>
      </div>
      <div class="item item--medium">
        <div class="item__details">
          Bhatia Farm
        </div>
      </div>
      <div class="item item--large">
        <div class="item__details">
          Rennovation House
        </div>
      </div>
      <div class="item item--full">
        <div class="item__details">
          Jaipur Bunglow
        </div>
      </div>
      <div class="item item--medium">
        <div class="item__details">
          Jaipur House
        </div>
      </div>
      <div class="item">
        <div class="item__details">
          Solee House
        </div>
      </div>

    </div>
  </div>




  <!-------------------------------------------------- footer---------------------------------------------- -->

  <div class=" footer">

    <div class="dark-row ">
      <div class="container">
        <div class="row">
          <div class="footer-brand col-sm-2 col-2 col-lg-2">
            <a class="navbar-brand" href="#"><b>Differ<span style="color:#f8a504;">Home</span></b></a></a>
          </div>
          <div class="media-icons col-lg-10 col-10 col-sm-10">
            <a href="#"><i style="color: #4267B2;" class="fab fa-facebook-f"></i></a>
            <a href="#"><i style="color: #1DA1F2;" class="fab fa-twitter"></i></a>
            <a href="#"><i style="color: #E1306C;" class="fab fa-instagram"></i></a>
            <a href="#"><i style="color: rgb(95, 170, 95);" class="fab fa-whatsapp"></i></a>
            <a href="#"><i style="color: red;" class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="container ">
        <div class="row">
        
          <div class="col-6 col-lg-3 tables">
            <div class="borders">
              <ul>
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/about"><strong>About Us</strong></a></li>
                <li><a href="tel:+918769258658"><strong>Why Us</strong></a></li>
                <li><a href="#"><strong>Book an appointment</strong></a></li>
                <li><a href="tel:+918769258658"><strong>Contact Us</strong></a></li>
               
              </ul>
            </div>
          </div>
          <div class="col-lg-6 space"></div>
          <div class="col-6 col-lg-3 tables">
            <div class="borders">
              <ul>
                <li><a href="/construction">➢Construction</a></li>
                <li><a href="/buy-plot-">➢Buy Plot</a></li>
                <li><a href="/services">➢Rennovation</a></li>
                <li><a href="/services">➢Interior Designing</a></li>
                <li><a href="/resell">➢Resell</a></li>
              
              </ul>
            </div>
          </div>
     
        </div>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2021 <a href="#">Differ Home </a> All rights reserved</span>
          <span class="policy_terms">
            <a href="#">Privacy policy</a>
            <a href="#">Terms & condition</a>
          </span>
        </div>
      </div>
    </div>

  </div>