<div class="navbox">
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a class="navbar-brand" href="#"><b>Differ<span style="color:#f8a504;">Home</span></b></a></a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/services">Services</a>
            </li>
            <li>
              <a href="#!">Login</a>
              <ul class="nav-dropdown">
                <form class="login-form" action="/login" method="post">
                    <input type="text" placeholder="username" name="username">
                    <input type="password" placeholder="password" name="password">
                  <button type="submit" class="btn btn-sm btn-outline-light">Submit</button>
                </form>
                <!-- <li>
                  <a href="#!">Web Design</a>
                </li>
                <li>
                  <a href="#!">Web Development</a>
                </li>
                <li>
                  <a href="#!">Graphic Design</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="#portfolio">Portfolio</a>
            </li>

          </ul>
        </nav>
      </div>
    </section>
  </div>

  <!-- -------------------------------nav-------------------------------------- -->
