<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/gallery.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/about.css">




    <title>Differ Home || About</title>
</head>

<body>

   
    <%- include('partials/nav') %>

    <!-- -------------------------------nav ends-------------------------------------- -->
    
    
    <div class="about_body">
        <div class="about"></div>
        <h1 style="font-family:Arial, Helvetica, sans-serif;"> ABOUT-US</h1>
    </div>
    <div class="container">
        <p>Differ home is a one-stop solution to sort all your home needs ranging from construction to maintenance, professionally & conveniently. Partnered with the best brands & professionals to ensure you get the best quality service</p>
    </div>
    <div class="whyus">
        <div class="whyus_heading">
            <h1>Why DifferHome?</h1>
        </div>
        <div class="whyus_para container" style="background-color:#f5f5f5;">
            <div class="row_box_whyus">
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/pservice.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>Professional Service</h5>
                                <p>‘Best in class’ service ensured with our experienced in-house Design & Construction
                                    team. Complete
                                    Hassle-free Experience from beginning to end.</p>
                            </aside>
                        </div>
                    </div>
                </div>

                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/issured work.png"></span>
                        </div>
                        <div class="col-md-9">
                            <h5>Insured Work</h5>
                            <p>Your Structure is insured with us. Any issue- post construction, no need to worry. We
                                have your back;
                                we are always available at a click/call away.</p>
                        </div>
                    </div>
                </div>
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/transparency.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>100% transparency</h5>
                                <p>No Hidden Charges, Every detail is as clear as a crystal. To bring in transparency is
                                    one of our
                                    core purposes of existence.</p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row_box_whyus">
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/tracking.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>Digital Tracking</h5>
                                <p>No Hidden Charges, Every detail is as clear as a crystal. To bring in transparency is
                                    one of our
                                    core purposes of existence.</p>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/qualitycheck.png"></span>
                        </div>
                        <div class="col-md-9">

                            <h5>Quality Assurance</h5>
                            <p>Be ensured with us that you have the ‘right quality for the right price’. No more over
                                charging and
                                no more substandard products</p>
                        </div>
                    </div>
                </div>
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/ontme.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>On time Delivery</h5>
                                <p>Missing deadline? Not in our dictionary, we are ‘on time every time’. We will ensure
                                    ‘on time
                                    delivery’ thus ensuring that there are no cost over runs.</p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row_box_whyus">
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/pricemodel.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>Flexbile pricing models</h5>
                                <p>Quotes that are tailored fit to your choice. Not happy with rigid pricing models, we
                                    understand
                                    your frustration. With us, you can customize as per your convenience.</p>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/malpractice.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>Curbing Malpractices</h5>
                                <p>We have put a check on Malpractices. With our new age technology assistance, we have
                                    curbed all the
                                    Fraudulent practices.</p>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col box_whyus">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="/images/icons/costsextra.png"></span>
                        </div>
                        <div class="col-md-9">
                            <aside>
                                <h5>No Cost Over Runs</h5>
                                <p>Once we finalize on a Quote, there is no going back. We promise you a 100% No Cost
                                    Overrun Policy.
                                </p>
                                <p></p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--WhyUS ends-->
    

    <!-------------------------------------------------- footer---------------------------------------------- -->

    <div class=" footer">

        <div class="dark-row ">
            <div class="container">
                <div class="row">
                    <div class="footer-brand col-sm-2 col-2 col-lg-2">
                        <a class="navbar-brand" href="#"><b>Differ<span style="color:#f8a504;">Home</span></b></a></a>
                    </div>
                    <div class="media-icons col-lg-10 col-10 col-sm-10">
                        <a href="#"><i style="color: #4267B2;" class="fab fa-facebook-f"></i></a>
                        <a href="#"><i style="color: #1DA1F2;" class="fab fa-twitter"></i></a>
                        <a href="#"><i style="color: #E1306C;" class="fab fa-instagram"></i></a>
                        <a href="#"><i style="color: rgb(95, 170, 95);" class="fab fa-whatsapp"></i></a>
                        <a href="#"><i style="color: red;" class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-2 space"></div>
                    <div class="col-6 col-lg-3 tables">
                        <div class="borders">
                            <ul>
                                <li><a>Company</a></li>
                                <li><a>Home</a></li>
                                <li><a>Contact Us</a></li>
                                <li><a>About Us</a></li>
                                <li><a>Get Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  tables space">
                        <div class="borders">
                            <ul>
                                <li><a>Company</a></li>
                                <li><a>Home</a></li>
                                <li><a>Contact Us</a></li>
                                <li><a>About Us</a></li>
                                <li><a>Get Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 tables">
                        <div class="borders">
                            <ul>
                                <li><a>Company</a></li>
                                <li><a>Home</a></li>
                                <li><a>Contact Us</a></li>
                                <li><a>About Us</a></li>
                                <li><a>Get Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  space"></div>
                </div>
            </div>
            <div class="bottom-details">
                <div class="bottom_text">
                    <span class="copyright_text">Copyright © 2021 <a href="#">Differ Home </a> All rights
                        reserved</span>
                    <span class="policy_terms">
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms & condition</a>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
</body>

</html>