<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- myCSS -->
  <link rel="stylesheet" href="./css/component_3.css">
  <!-- Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.3.1/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@300;400&display=swap" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <script src="./js/navbar.js"></script>

  <link rel="stylesheet" href="./css/main_container.css">
  <link rel="stylesheet" href="./css/searchbarh.css">
  <link rel="stylesheet" href="./css/general_this.css">
  <link rel="stylesheet" href="./css/searchbar_2.css">
  <link rel="stylesheet" href="./css/component_4.css">
  <link rel="stylesheet" href="./css/component_6.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>DifferHome</title>
</head>

<body>
  <nav id="navbar" class="">
    <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div data-aos="fade-down" data-aos-duration="2000" class="logo">
          <a href="" > <img src="./../images/DH logo.png" alt="logo"></a>
            <!-- Logo Placeholder for Inlustration -->
            <a href="#home">
                <!-- <i class="fa fa-angellist logo"> -->
                
                </i><b> Differ<strong>Home</strong></b></a>
        </div>

        <!-- Navbar Links -->

        <div data-aos="fade-down" data-aos-duration="2000">
          <ul id="menu">
            <li><a href="#home">Home</a></li>
            <!--
            -->
            <li><a href="#about">About</a></li>
            <!--
                -->
            <li><a href="#services">Services</a></li>
            <!--
-->
            <li><a href="#contact">Contact US</a></li>
        </ul>
        </div>
    </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu" style="z-index:9;">
    <ul id="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact US</a></li>
        <li><a href="#services">Services</a></li>
    </ul>
</div>


  <div class="main_container">
    <div class="first_container">
      <div class="tagline" data-aos="fade-right" data-aos-duration="2000">
        <p>Explore Beautiful Houses, Apartments, Villas & More.</p>
        <t1>We prefer your home to be</t1>
        <h2>DIFFER<t2> in</t2></h2>
        <h1><strong>DIFFERHOME</strong></h1>

     </div>
     <div class="text-right">
      <div data-aos="fade-left" data-aos-duration="1000">
        <p><ion-icon name="time"></ion-icon> Real-Time Inventory</p></div>
      <div data-aos="fade-left" data-aos-duration="2000">
        <p><ion-icon name="eye"></ion-icon> Comprehensive Overview</p></div>
      <div data-aos="fade-left" data-aos-duration="3000">
        <p><ion-icon name="shield-checkmark"></ion-icon> Verified RERA Registration</p></div>
    </div>
      <div class="image">
        <!-- <img src="./images/carousel.jpg" alt=""> -->
      </div>


      <div class="second_container" data-aos="fade-up" data-aos-duration="2000" >
        <form method="post" action="./">
          <div class="cnt my-0 mb-5 pt-0 px-3 pb-1  searchbar">
            <div class="part_a" id="part_aa" style="position:relative; display:flex; width:40%; margin:auto;">
              <div class="container bg-light options">
                <div class="row">
                  <div  class="col-5 option_a" id="appartment-option">
                    <label for="" class="box_bkcgrd m-0"></label>
                    <input type="checkbox" id="Apartment" name="type1" value="Appartment">
                    <div class="box_part_a"></div>
                    <label for="" class="m-0">Apartment</label>
                  </div>
                  <div class="col-2 option_a">
                    <label for="villa" class="box_bkcgrd m-0"></label>
                    <input type="checkbox" id="villa" name="type1" value="villa">
                    <div class="box_part_a"></div>
                    <label for="villa" class="m-0">Villa</label>
                  </div>
                  <div class="col-5 option_a" id="plot-option">
                    <label for="plot" class="box_bkcgrd m-0"></label>
                    <input type="checkbox" id="plot" name="type1" value="plot">
                    <div class="box_part_a"></div>
                    <label for="Apartment" class="m-0">Plot/Land</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="home px-3 bg-light">
              <div class="row">
                <div class="col-3">
                  <div class="form-group"
                  style="font-family: 'Poppins sans-serif;
                  font-size: 13px; margin: 5px;">
                    <label for="country" class="font-weight-bold">Country:</label>
                    <select name="country" class="countries form-control" id="countryId">
                      <option value="India" countryid="IN" selected>India</option>
                  </select>
                    <label for="state" class="font-weight-bold">State:</label>
                    <select name="state" class="states form-control" id="stateId">
                      <option value="">Select state</option>
                  </select>
                  </div>
                </div>
                <div class="col-7">
                  <div class="form-group">
                    <label for="city" class="font-weight-bold">City:</label>
                       <select name="city" class="cities form-control" id="cityId">
            <option value="">Select City</option>
         </select>
         </div>
                </div>
                <div class="col-2 button">
                  <div class="form-group">
                    <label class="font-weight-bold"></label>
                    <!-- <input type="text" class="form-control" id="usr" -->
                    <!-- placeholder="Enter city, state, locality, pincode"> -->
                    <button type="submit"
                      class="btn-outline-primary rounded search_button px-2 py-auto my-auto w-50"><span
                        role="button">Search</span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="part_b pt-2 px-3 pb-2">
              <div class="row">
                <div class="col-4">
                  <div style="width:fit-content;">
                    <div class="row">
                      <div class="col-8">
                        <div class="residential p-1 d-flex">
                          <div>
                            <text>Residential</text>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div style="display:flex;position: relative;">
                          <label class="switch">
                            <input type="checkbox" name="type2" value="residential">
                            <span class="slider"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <div class="residential p-1 d-flex">
                          <div>
                            <text>Commercial</text>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div style="display:flex;position: relative;">
                          <label class="switch">
                            <input type="checkbox" name="type2" value="commercial">
                            <span class="slider"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="residential p-1">
                        <div>
                          <text>Bedrooms</text>
                        </div>
                      </div>
                      <div class="boxes pl-2">
                        <div class="box" id="box1">
                          <label for="opt1" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt1" name="bedrooms" value="1">
                          <div class="box_cover"></div>
                          <label>1</label>
                        </div>
                        <div class="box" id="box2">
                          <label for="opt2" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt2" name="bedrooms" value="2">
                          <div class="box_cover"></div>
                          <label>2</label>
                        </div>
                        <div class="box" id="box3">
                          <label for="opt3" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt3" name="bedrooms" value="3">
                          <div class="box_cover"></div>
                          <label>3</label>
                        </div>
                        <div class="box" id="box4">
                          <label for="opt4" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt4" name="bedrooms" value="4">
                          <div class="box_cover"></div>
                          <label>4</label>
                        </div>
                        <div class="box" id="box5">
                          <label for="opt5" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt5" name="bedrooms" value="5">
                          <div class="box_cover"></div>
                          <label>5</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-12">
                      <div class="residential p-1">
                        <div>
                          <text>Bathrooms</text>
                        </div>
                      </div>
                      <div class="boxes pl-2">
                        <div class="box" id="box6">
                          <label for="opt6" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt6" name="bathrooms" value="1">
                          <div class="box_cover"></div>
                          <label for="opt6">1</label>
                        </div>
                        <div class="box" id="box7">
                          <label for="opt7" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt7" name="bathrooms" value="2">
                          <div class="box_cover"></div>
                          <label for="opt7">2</label>
                        </div>
                        <div class="box" id="box8">
                          <label for="opt8" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt8" name="bathrooms" value="3">
                          <div class="box_cover"></div>
                          <label for="opt8">3</label>
                        </div>
                        <div class="box" id="box9">
                          <label for="opt9" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt9" name="bathrooms" value="4">
                          <div class="box_cover"></div>
                          <label for="opt9">4</label>
                        </div>
                        <div class="box" id="box10">
                          <label for="opt10" class="box_bkcgrd"></label>
                          <input type="checkbox" id="opt10" name="bathrooms" value="5">
                          <div class="box_cover"></div>
                          <label for="opt10">5</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div>
                    <div class="residential p-1 d-flex">
                      <div>
                        <text>Budget</text>
                      </div>
                    </div>
                    <!-- slider -->
                    <div class="px-2" style="display: flex;align-items: center;">
                      <div>
                        <!-- slider -->
                        <div class="container slider-tracks">
                          <div class="slider-track"></div>
                          <input type="range" id="slider-1" min="0" max="100" value="30" oninput="slideOne()">
                          <input type="range" min="0" max="100" value="70" id="slider-2" name="budget"
                            oninput="slideTwo()">
                        </div>
                      </div>
                      <div style="margin-left:50%;">
                        <div class="values">
                          <div class="value_box px-1">
                            <text-sm>Min:</text-sm>
                            <div class="price">
                              <span>
                                <input oninput="abc()" type="number" name="range1" id="range1" value="30">
                              </span>
                            cr
                            </div>
                          </div>
                          <div style="max-height:100%;margin:1%;font-size: 1.4rem;">
                            <span>&nbsp&dash;</span>
                          </div>
                          <div class="value_box px-1">
                            <text-sm>Max:</text-sm>
                            <div class="price">
                              <span>
                                <input oninput="abc()" type="number" name="range2" id="range2" value="70">
                              </span>
                              cr
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="residential p-1 d-flex">
                      <div>
                        <text>Area</text>
                      </div>
                    </div>
                    <!-- slider -->
                    <div class="px-2" style="display: flex;align-items: center;">
                      <div>
                        <!-- slider -->
                        <div class="container slider-tracks">
                          <div class="slider-track"></div>
                          <input type="range" id="range1_area" min="0" max="3000" value="300" oninput="slider_area1()">
                          <input type="range" min="0" max="3000" value="700" id="range2_area" name="budget"
                            oninput="slider_area2()">
                        </div>
                      </div>
                      <div style="margin-left:50%;">
                        <div class="values">
                          <div class="value_box px-1">
                            <text-sm>Min:</text-sm>
                            <div class="price">
                              <span>
                                <input oninput="abc_area()" type="number" name="range1" id="range1_box" value="300">
                              </span>
                              
                            </div>
                            &ThickSpace; sq.ft
                          </div>
                          <div style="max-height:100%;margin:1%;font-size: 1.4rem;">
                            <span>&nbsp&dash;</span>
                          </div>
                          <div class="value_box px-1">
                            <text-sm>Max:</text-sm>
                            <div class="price">
                              <span>
                                <input oninput="abc_area()" type="number" name="range2" id="range2_box" value="700">
                              </span>
                              
                            </div>
                            &ThickSpace;sq.ft
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="second_container_phone mb-4">
        <div class="search">
          <div class="icon">
            <i class="fa fa-search"></i>
          </div>
          <input type="text" name="address" placeholder="Enter city, state, locality, pincode">
        </div>
        <div class="filter_page">

        </div>
      </div>
    </div>
  </div>
  </div>






  <!-- component 03 || How it Works -->
  <div id="component_3">
    <!-- <img src="./images/component_3.jpg" class="img_work" > -->
    <!-- <div class=""> -->
    <div id="compo_head_3" class="w-100 my-3" style="display: flex;align-items: center;justify-content: center;">
      <h2 class="text-center" style="font-weight: 700;">How it</h2>
      <h2 class="text-center" style="color:#254E7B;font-weight: 700;">&nbspWorks?</h2>
    </div>
    <div class="my-1 working" style="display: flex;align-items: center;justify-content: center;">
      <div class="cont" style="display:flex">
        <div class="circle" id="c1">
          <div>1</div>
          </div>
        <div class="line-time" id="t1"></div>
      </div>
      <!-- </div> -->
      <div class="cont" style="display:flex">
        <div class="circle" id="c2"><div>2</div>
      </div>
        <div class="line-time" id="t2"></div>
      </div>
      <div class="cont" style="display:flex">
        <div class="circle" id="c3"><div>3</div>
      </div>
        <div class="line-time" id="t3"></div>
      </div>
      <div class="cont" style="display:flex">
      <div class="circle" id="c4"><div>4</div>
    </div>
      </div>
    </div>
    <div class="working-text" style="">
      <div style="display: flex;flex-direction: column;width: 250px;position: relative;">
        <h5 class="my-2" id="h-1" style="font-weight: 400; color:#254E7B ;">Easy Search</h5>
        <div class="text-section">
          <p id="p-1">Discover & explore in neighbouring localities/cities.
          </p>
        </div>
      </div>
      <div class="text" style="display: flex;flex-direction: column;width:250px;position: relative;">
        <h5 class="my-2" id="h-2" style="font-weight: 400; color:#254E7B ;">Onsite Visit</h5>
        <div class="text-section">
          <p id="p-2">Get a brief lookout on the property.</p>
        </div>
      </div>
      <div class="text" style="display: flex;flex-direction: column;width:250px;position: relative;">
        <h5 class="my-2" id="h-3" style="font-weight: 400; color:#254E7B ;">Lock the Deal</h5>
        <div class="text-section">
          <p id="p-3">Verify the each enlisted details.</p>
        </div>
      </div>
      <div class="text" style="display: flex;flex-direction: column;width:250px;position: relative;">
        <h5 class="my-2" id="h-4" style="font-weight: 400; color:#254E7B ;">It's all yours</h5>
        <div class="text-section">
          <p id="p-4">Full transparency, minimum hustle.</p>
        </div>
      </div>
    </div>
    <div class="image-working mx-auto">
      <!-- <img src="./images/phone-how_it_works.png" alt=""> -->
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>

  <!-- component 04 || Why choose us -->
  <div id="component_4" style="height: 90vh;">
    <div id="compo_head_3" class="w-100 my-3" style="display: flex;align-items: center;justify-content: center; display: flex;">
      <h2 class="text-center" style="font-weight: 700;color:#254E7B;">Why choose</h2>
      <h2 class="text-center">&nbspus</h2>
    </div>
    <div class="container my-3" id="componet_04media"
      style="display: flex;align-items: center;justify-content: center;">
      <div data-aos="fade-right" data-aos-duration="2000" class="card mx-5" style="width: 15rem;border: none;">
        <img src="./images/component_4_1.png" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <!-- <h5 class="card-title">Card title</h5> -->
          <div id="compo_head_3" class="w-100 my-3" style="display: flex;align-items: center;justify-content: center;">
            <h5 class="text-center" style="font-weight: 700;">Looking</h5>
            <h5 class="text-center">&nbspFor</h5>
          </div>
          <p class="card-text">Premium apartments, villas & land-Its all here in one.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <!-- </div> -->
      <div data-aos="zoom-in" data-aos-duration="2000" class="card mx-5" style="width: 15rem;border: none;">
        <img src="./images/component_4_2.png" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <!-- <h5 class="card-title">Card title</h5> -->
          <div id="compo_head_3" class="w-100 my-3" style="display: flex;align-items: center;justify-content: center; margin-top: 10px;">
            <h5 class="text-center" style="font-weight: 700; padding-top: 26px;">Zero</h5>
            <h5 class="text-center" style="padding-top: 26px;">&nbspCommision</h5>
          </div>
          <p class="card-text">Free of any kind of commission charge.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="2000" class="card mx-5" style="width: 15rem;border: none;">
        <img src="./images/component_4_3.png" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <!-- <h5 class="card-title">Card title</h5> -->
          <div id="compo_head_3" class="w-100 my-3" style="display: flex;align-items: center;justify-content: center;">
            <h5 class="text-center" style="font-weight: 700;">Free</h5>
            <h5 class="text-center">&nbspConsultation</h5>
          </div>
          <p class="card-text">24/7 Free consultation available for your Dream.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <!-- component 05 || Properties -->
    <div class="component_5">
      <div class="grey_line" style="background-color: #F3F3F3;height: 3rem;">
        <h4 class="px-5" style="height: 3rem;display: flex;align-items: center; position: center;box-sizing: border-box;">
        Properties we brings to you</h4>
      </div>
      <div class="container my-5" id="componet_05media"
        style="display: flex; align-items: center; justify-content: center; text-align: center;">
        <div class="mx-2" style="width: 18rem; margin-left: 15px; " >
          <img src="./../images/BHK.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Single & Multi-room BHK</p>
          </div>
        </div>
        <div class="card mx-2" style="width: 18rem; margin-left: 15px; ">
          <img src="./../images/Luxirous.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Luxurious Apartments</p>
          </div>
        </div>
        <div class="card mx-2" style="width: 18rem; margin-left: 15px; ">
          <img src="./../images/villa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Villa-Bungalow</p>
          </div>
        </div>
        <div class="card mx-2" style="width: 18rem; margin-left: 15px; ">
          <img src="./../images/CProperty.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Commercial Properties</p>
          </div>
        </div>
        <div class="card mx-2" style="width: 18rem; margin-left: 15px; height: 200px; ">
          <img src="./../images/plot.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Vacant Land</p>
          </div>
        </div>
      </div>
    </div>

    <!-- component 06 || Properties -->
    <div class="component_6">
      <div id="blue_container">
        <img src="./images/component_6.jpg" alt="" class="mx-5" style="height: 50vh;">
        <div class="text-section">
          <div class="compo_head_6">
            <h2 class="text-center" style="color: gray; font-size: 55px;">Your</h2>
            <h2 class="text-center" style="color:#254E7B; font-size: 55px">&nbspDream Home</h2>
            <h2 class="text-center" style="color: gray; font-size: 55px">&nbspis right here</h2>
          </div>
          <div class="compo_head_6" id="compo_head_6-2">
            <h2 class="text-center" style="color: gray; font-size: 55px">We bring the</h2>
            <h2 class="text-center" style="color:#254E7B; font-size: 55px">&nbspBest</h2>
            <h2 class="text-center" style="color: gray; font-size: 55px">&nbspfor you</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="component_6_phone container">
      <div id="blue_container">
        <div class="text">
          Your <span style="color: rgb(37, 78, 123)">Dream Home</span> is right here, We bring the <span
            style="color: #254E7B">Best</span> for You
        </div>
        <img src="./images/component_6.jpg" alt="" class="mx-5" style="height: 50vh;">
      </div>
    </div>

    <!---Footer-->
    <footer class="footer">
      <div class="footerContent">
        <div class="about">
          <p><a href="" > <img src="./../images/light DH logo.png" alt="logo"></a>    
          <strong>DifferHome</strong></p>
          <p1>Differhome is one stop solution to discover and<br>the perfect dream home for you.<br>
            Premium apartments, villas, bungalows and<br>much more are available in a single platform.</p1>
            <h5>About Us<br>FAQs</h5>
        </div>
        <div class="explore">
          <h3>Explore</h3>
            <p>Apartments</p>
            <p>Villas / Bungalows</p>
            <p>Land / Plots</p>
            <p>Residential Properties</p>
            <p>Commercial Properties</p>
            <p>Ready to Move-In</p>
        </div>
        <div class="contact">
          <h3>Contact Us</h3>
           <div class="contact-info">
               <span><ion-icon name="mail"></ion-icon></ion-icon></span>
               <a href="info@differhome.com"> info@differhome.com</a>
           </div>
           <div class="contact-info">
               <span><ion-icon name="call"></ion-icon></span>
               <a href="tel:+919351822152"> (+91) 93518 22152 </a>
           </div>
           <div class="icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
           </div>
        </div> 
      </div>
      <div class="copyright">
        <P>Copyright@ 2022. All Rights Reserved.</p>
      </div>
 </footer>
  
      

    <!-- myJS -->
    <script src="./js/component_3.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="./js/searchbarh.js"></script>
    <script src="./js/filterh.js"></script>
    <script src="/js/location.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <!--Animation AOS-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!---- icons---->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!---Moving Amimation--->
   <script>
     new TypeIt("#animation",{
       speed: 120,
       loop: true,
     })
     .type("DIFFERHOME",{
       delay: 400,
     })
     .pause(500)
     .delete(10)
     .go();
   </script>



  </body>


</html>