<%- include('partials/header') %>
<link rel="stylesheet" href="/css/success.css">

<div class="container">
<h1>Succesfully send request</h1>
<a href="/"> <p>← back to home</p></a>
<a href="/admin"> <p>← upload more </p></a>

</div>
<%- include('partials/footer') %>