
.container0 p{
  font-size: x-large;
  text-align: center;
  font-weight: lighter;
}
.about_body h1{
  margin-top: 2rem;
  font-weight: bolder;
  font-size: 3-rem;
  letter-spacing: 1rem;
  text-align:center;
}
.about
{
    background-image: url("/images/about.jpg");
    background-size: cover;
    object-fit:cover; 
    background-position: center;
    min-height:50vh;
    text-align: center;
}


.whyus_heading{text-align: center;
    margin:4rem;}
  .box_whyus{
    margin:4rem;
  }

@media screen and (max-width:1100px) { 

    .row_box_whyus{
      display:block;
  }
  }
  
  


@media screen and (min-width:1100px) {
        .row_box_whyus{
          display:flex;
      }
  
  }