.main_container{
    height:fit-content;
    margin-bottom:2%;
    /* margin-top:0px; */
    z-index: 1;
}

.main_container .first_container {
    position: relative;
    background-repeat: no-repeat;
    height:60%;
    min-height:60%;
    width:100%;
    min-width:100vw;

}
 .first_container .image{
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient(rgba(17, 71, 101, 0.3), rgba(17, 71, 101, 0.6)),
    url('./../images/carousel.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    /* margin:0px ; */
    /* z-index:-1; */
}
.first_container img{
    margin:0px;
    padding: 0;
    width:100%;
    height:80vh; 
    z-index:-1;
}
.tagline{
    width: 90%;
    color: #fff;
    top: 20%;
    left: 6%;
    transform: translate (-10%, -20%);position: absolute;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.tagline h2{
    font-size: 40px;
    margin-left: 350px;
}
.tagline p{
    margin: 0px;
    color: #fff;
    font-size: 40px;
}
.tagline t1{
    margin-left: 150px;
    font-size: 22px;
}
.tagline t2{
    font-size: 22px;
}
.tagline h1{
    margin-left: 400px;
    font-size: 85px;
}
.text-right{
    width: 90%;
    color: #fff;
    top: 30%;
    right: 6%;
    transform: translate (-10%, -20%);position: absolute;
    font-family: 'Poppins', sans-serif;
}
.text-right p{
    text-align: left;
    margin-top: 30px;
    margin-left: 1100px;
}

.second_container{
    position: relative;
    top:-79px;
}
.second_container_phone{
    display: none;
    margin:auto;
    height: 40px;;
    position: relative;
    width:fit-content;
    transform-style: preserve-3d;
    z-index:2;
}
.part_a{
    border-color: #fff;
    border-radius: 10px;
    height: 30px;
}
.row{
    font-family: 'Poppins', sans-serif;
}
.second_container_phone .search{
    width:min(400px,100%);
    margin-right: 20px;
    padding-left: 2%;
    height: 20px;;
    box-shadow: 4px 4px 10px #00000029;
    border-radius: 3px;
    filter: blur(0px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    z-index: 2;
    transform-style: preserve-3d;
    display: flex;
    align-content: center;
    position: relative;
    top:-43%;
    
}
.icon{
    margin:auto;
    height: fit-content;
}

#cityId{
    width:70%;
}